.col{
    height: 40px;
    margin: 30px;
    background-color: blueviolet;
    flex:1;
}

.row{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.col-2{
    margin: 30px;
    width: 66%;
    background-color: blueviolet;
    height: 40px;
    flex: 33%;
}

.col-3{
    height: 40px;
    margin: 30px;
    flex: 5;
    background-color: blueviolet;

}

