.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    margin: 15px 15px 15px 15px;
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    display: inline-flex;

    background-color: blue;
    margin-left: 15px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}

